name: happy_view
description: A Flutter app for kids to view pictures without parents concern.
publish_to: 'Nawras Al Abbas'
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0
  provider: ^6.0.5
  shared_preferences: ^2.2.0
  cupertino_icons: ^1.0.5
  firebase_core: ^3.12.1
  http: ^1.3.0 # For making HTTP requests
  cached_network_image: ^3.3.1 




dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true


  assets:
    
    - lib/assets/images/
    
    - lib/l10n/